.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background-size: cover;
  background-position: center;
}

form{
  background-color: rgb(28, 175, 175);
  padding: 0px 60px;
  border-radius: 10px;
}

h1{
  color: rgb(205, 63, 193);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color:  rgb(205, 63, 193);
  color: beige;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}